.center_welcome {
    text-align: center;
    margin-top: 200px;
    color: rgb(190, 190, 190);
}

.nav-color {
    background-color: #242424;
}

.body-color {
    background-color: #353535;
    color: #ffffff;
}

.credits {
    position: relative;
    top: 20px;
    text-align: center;
    color: rgb(190, 190, 190);
  }

.footer {
    color: rgb(190, 190, 190);
    position: relative;
    top: 300px;
    text-align: center;
  }

a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.card-box-style {
    background-color: #0d6efd;
    color: white;
}

.card-body-style {
    background-color: #1e1e1e;
    color: white;
}
